<nav class="navbar transparent navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-brand-right">
    </div>
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mineul pull-right" style="font-size:17px;margin-top:9px; color:white;">
            <% if signed_in? %>
            
             <% else %>

            <% end %>
            </ul>

        </div>
    </div>
</nav>
