<div class='text'>
  Hey! <%= @email %>,
  <br><br>
  This email is to inform you that you have subscribed to Motiv8's daily newsletter.
  <br><br>
  You will receive a daily aphorism at 7:00AM EST. 
  <br><br>
  Thanks,<br>
  The Motiv8 Team
</div>

<div class="footer">
  <span>&copy;2015 Motiv8 Inc</span><br>
</div>


