<h1>Today's Quote</h1>

<p>
</p>

<div class="h8"><%= @category.name %></div>
<br>
<div class='text'>
  <%= @quote %>
</div>
<br>
<div class="text">
    
</div>
    <div class="un-subscribe">
      <span><%= link_to 'un-subscribe', unsubscribe_url(@subscriber.unsubscribe_hash) %></span>
    </div>
<br><br>

