// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.identity-refresh {
    background-color: #36465d;
}
.identity {
      background-color: #f6f6f6;
}
html, body {
    color: #444;
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}

.site-notification {
    -moz-osx-font-smoothing: grayscale;
    background: none repeat scroll 0 0 #222;
    color: #fff;
    height: 50px;
    line-height: 48px;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.identity-refresh .site-notification + .l-header-container {
    top: 50px;
}
.l-header-container--refresh {
background-color: #030033;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.13);
    position: fixed;
    transform: translateZ(0px);
    width: 100%;
    z-index: 90;
}

.l-header-container--refresh .l-header {
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    box-sizing: border-box;
    height: 52px;
    left: 0;
    margin: auto;
    max-width: 1580px;
    min-width: 960px;
    padding: 0 20px 0 15px;
    position: relative;
    top: 0;
    width: 100% !important;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200, 200, 200, 0.3);
    box-sizing: border-box;
 
}

.logo {
    float: left;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 150px;
}

.logo .logo_anchor {
    background-image: url("8logo.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: auto 31px;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    width: 100%;
}
h1 a {
    color: #3f3f3f;
}
a {
    color: #444;
    text-decoration: none;
}

.l-header-container--refresh .l-header .ui_search {
    float: right;
}
.ui_search, .ui_search .search_form_row {
    position: relative;
}
.ui_search {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 0;
}

.l-header-container--refresh .tab-bar-container {
    float: right;
    height: 100%;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}

.l-header-container--refresh .tab_bar {
    height: 32px;
    padding: 10px 0 0;
    position: relative;
}


.nav > li > a:hover, .nav > li > a:focus {
 	background-color: #030033;
	color: #D99194;
}

.nav > li > a {
 	background-color: #030033;
	color: #D99194;
}

.fa {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: -3px;
    text-rendering: auto;
}

.row-loggedin {
    margin-left: 120px;
    margin-right: 50px;
}

#left-side {
	background: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
    border-bottom-right-radius: 5px;      
    padding: 20px;
    background: rgba(255,255,255,0.5);    
}

#center-side {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
    border-bottom-right-radius: 5px;  
	background: white;
	padding: 20px 40px 20px 40px;
    background: rgba(255,255,255,0.9); 
    margin-bottom: 8px;   	
}

#right-side {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    background: rgba(255,255,255,0.9);    
    margin-bottom: 8px;
    margin-left: 8px;
}

.nav > li > a.current {
    color: #e3262e;
}

#right-side > ul > li > a {
	color: #444;
}

#right-side > ul > li > a:hover {
	color: #444;
	text-decoration: none;
}




