 <ul class="nav nav-pills">
  <li role="presentation" class="sub-nav"><%= link_to "Feed", root_path, :class => current_class?(root_path) %></li>
  <li role="presentation" class="sub-nav"><%= link_to 'My Newsletters', my_newsletters_path, :class => current_class?(my_newsletters_path) %></li>
  <li role="presentation" class="sub-nav"><a href="#">My Subscriptions</a></li>
  <li role="presentation" class="sub-nav"><a href="#">Discover</a></li>
  </ul>